
/* #region Body */
body {
    margin: 0;
}
/* #endregion */

/* #region Hero Images */
/* #region Desktop */
header {
    height: 70vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    margin-top: 0;
}

#home {
    background-image: linear-gradient(rgba(0,0,0, 0.4), rgba(0,0,0,0.3)), url(Images/cloudyhighwayheber2croppedoptimized.png);
    background-position: bottom;
    background-attachment: fixed;
    
}
/* #endregion */
/* #region Mobile */
    @media screen and (max-width:550px){
        
   
    }
/* #endregion */

/* #endregion */

/* #region Navigation */
/* #region Desktop*/
nav>ul {
    display: flex;

    align-items: center;
    justify-content: center;

    font-size: 3.65vw;
    padding: 0;
    margin: 0;
    margin-top: 0;
    padding-top: 10vh;

}
nav>ul>a{
    text-decoration: none;
    color: white;

    border: solid black;
    background-color: black;
    border-radius: 2.5em;

    margin-left: 1vw;
    margin-right: 1vw;
    padding-left: 2vw;
    padding-right: 2vw;
}

nav>ul>a>li {
    list-style: none;
    font-family:'Comic Sans MS', Comic Sans, Cursive;
}

.title {
    font-size: 5vw;
    font-family: "Brush Script MT", cursive;
    font-style: oblique;
    text-align: center;
    color: white;

    border: solid black;
    border-radius: 100%;
    padding:1%;


    list-style: none;
}

#active {
    border-color: white;
}
/* #endregion */
/* #region Mobile */
@media screen and (max-width:550px) {

    nav>ul{
        flex-direction: column;
    }

    nav>ul>a{
        margin: 0;
        margin-top: 2vh;

        font-size: 7vw;
    }

    .title {
        margin-top: 2vh;
        padding: 3%;

        font-size: 10vw;
    }

}
/* #endregion */
/* #endregion */

/* #region Main */
/* #region Desktop */
article{
    display: flex;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 2vh;
    
}
article>figure{
    margin: 0;
    padding: 0;
}
article>figure>img{
    width: 35vw;
    height: auto;
    border: black solid;
}
figcaption{
    text-align: center;
    font-style: italic;
    
    font-size: 2vw;
}
article>p{
    margin-top: 3vh;
    font-size: 2vw;
    margin-left: 1vw;
    
}
/* #endregion */
/* #region Mobile */
@media screen and (max-width:550px) {

    article{
        margin-top: 5vh;

    }

    article>figure{
        margin: 0;
        padding: 0;
    }
    article>figure>img{
        width:45vw;
    }
    
    article>p{
        margin: 0;
        padding: 0;
        padding-left: 2vw;

        font-size: 2.5vw;
    }

}
/* #endregion */

/* #endregion */